/* Colors */
/* purple */
/* pink */
/* light green */
html {
  font-family: "Roboto", sans-serif;
  /* font-family: 'Shrikhand', cursive; */
}

h2, h3 {
  font-weight: 900;
}

h2 {
  font-size: 1.4rem;
}

span {
  font-size: 1rem;
  font-weight: 600;
}

p {
  font-size: 0.9rem;
  font-weight: 500;
  color: #4f4f4f;
  /*    font-weight: 200; */
}

strong {
  font-weight: 700;
}

small {
  font-size: 0.9rem;
  font-weight: 500;
  color: #4f4f4f;
}

/* MIXINs */
/* HOME ANIMATION */
@-webkit-keyframes rotating {
  to {
    transform: rotate(1turn);
  }
}
@keyframes rotating {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes fading-hide {
  0% {
    transform: scale(0);
  }
  1% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}
@keyframes fading-hide {
  0% {
    transform: scale(0);
  }
  1% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}
/* MENU ANIMATION */
@-webkit-keyframes menu-items-landing {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes menu-items-landing {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.heading {
  padding-top: 0.5rem;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* -- MENU PAGE -- */
}
.heading__logo {
  flex-grow: 2;
  text-align: center;
}
.heading__logo img {
  padding: 0.6rem;
  width: 50vw;
  max-height: 2rem;
}
.heading__btn-back {
  font-size: 1.2rem;
  color: #353535;
  padding: 0.2rem 0 0.6rem 1rem;
}

footer {
  padding: 2rem 1.2rem;
  background-color: #353535;
  font-weight: 500;
  font-size: 0.9rem;
}
footer img {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(111deg) brightness(103%) contrast(102%);
  height: 1rem;
}
footer ul {
  margin: 1rem 0;
}
footer ul > * {
  padding: 0.4rem 0;
}
footer ul i {
  width: 1rem;
  padding-right: 0.5rem;
}
footer a, footer li {
  color: #f6f6f6;
  transition: all ease-in-out 0.15s;
}
footer a:hover, footer li:hover {
  color: #d7c0f2;
}

/* Landing Animation */
.landing {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top right, #ffdff6, #d7c0f2);
  position: fixed;
  z-index: 4;
  /*    transform-origin: center top; */
  animation: fading-hide 0.5s ease-in-out 3s 1 reverse both;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*    animation: name duration timing-function delay iteration-count direction fill-mode; */
}
.landing > div {
  position: relative;
  width: 120px;
  height: 120px;
}
.landing i {
  z-index: 6;
  position: absolute;
  /*    color: lighten($primary-color, 15%); /* purple */
  color: #e9e9e9; /* gray */
  font-size: 3rem;
  transform: translate(36px, 38px);
  text-shadow: #b5b5b5 3px 3px 2px;
}
.landing__loader {
  height: 100px;
  width: 100px;
  background-color: white;
  border: 10px solid #f6f6f6;
  border-radius: 50%;
  border-top-color: #99E2D0;
  /*    box-shadow: darken($light-bg-color, 20%) 0rem .2rem .3rem; */
  box-shadow: inset #dddddd 0.2rem 0.3rem 1rem, #9b9b9b 0rem 0rem 0.6rem;
  position: absolute;
  -webkit-animation: rotating 1s 3 cubic-bezier(0.24, 0.11, 0.68, 0.83);
          animation: rotating 1s 3 cubic-bezier(0.24, 0.11, 0.68, 0.83);
  /*    -webkit-animation: rotating 1s infinite cubic-bezier(0.63,-0.32, 0.74, 0.05);  */
}

/* Body */
.place {
  height: 3rem;
  background-color: #e9e9e9;
  box-shadow: inset #c3c3c3 0.2rem 0.2rem 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.place > * {
  padding: 0.5rem;
  color: #4f4f4f;
}

.explore {
  height: 10rem;
  text-align: center;
  background-color: #f6f6f6;
  padding: 4rem 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.explore p {
  font-size: 1rem;
  color: #828282;
}
.explore__btn {
  height: 3rem;
  padding: 0rem 1.5rem;
  border: none;
  border-radius: 2rem;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: #c3c3c3 0rem 0.2rem 0.3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.explore__btn:hover {
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  box-shadow: #777777 0rem 0.2rem 0.3rem;
}

.instructions {
  height: 20rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}
.instructions > div {
  height: 70%;
  width: 100%;
  margin-left: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.instructions__btn {
  height: 4rem;
  border-radius: 1rem;
  background-color: #f6f6f6;
  box-shadow: #dddddd 0.1rem 0.2rem 0.6rem;
  padding-left: 1rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.instructions__btn > * {
  padding: 0.6rem;
}
.instructions__btn:nth-child(1)::before {
  content: "1";
  font-size: 0.8rem;
  width: 1.4rem;
  height: 1.4rem;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  position: absolute;
  left: -0.6rem;
  text-align: center;
  line-height: 1.5rem; /* to center the content*/
}
.instructions__btn:nth-child(2)::before {
  content: "2";
  font-size: 0.8rem;
  width: 1.4rem;
  height: 1.4rem;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  position: absolute;
  left: -0.6rem;
  text-align: center;
  line-height: 1.5rem; /* to center the content*/
}
.instructions__btn:nth-child(3)::before {
  content: "3";
  font-size: 0.8rem;
  width: 1.4rem;
  height: 1.4rem;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  position: absolute;
  left: -0.6rem;
  text-align: center;
  line-height: 1.5rem; /* to center the content*/
}
.instructions__btn--colored {
  background-color: #e4d5f6;
}
.instructions__btn--colored i {
  color: #9356DC;
}

.restaurants {
  padding: 2rem 1.2rem;
  background-color: #f6f6f6;
}
.restaurants > * {
  margin: 1rem 0;
}
.restaurants__card {
  border-radius: 1rem;
  /*    min-height: 12rem; */
  overflow: hidden;
  box-shadow: #c3c3c3 0rem 0.2rem 0.3rem;
  color: black;
  position: relative;
}
.restaurants__card a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
}
.restaurants__card a img {
  width: 100%;
  height: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants__card a h3 {
  font-size: 1.05rem;
  margin-bottom: 0.2rem;
}
.restaurants__card a:visited {
  color: black;
}
.restaurants__card__title {
  box-sizing: border-box;
  background-color: white;
  padding: 1rem 3rem 1rem 1rem;
  width: 100%;
  /*    min-height: 4rem; */
}
.restaurants__card__heart {
  position: absolute;
  right: 1rem;
  bottom: calc((100% - 8rem) / 3); /* 8rem -> card img height */
}
.restaurants__card__heart i {
  /*    margin: 1rem;  */
  cursor: pointer;
  font-weight: 100;
  font-size: 1.2rem;
  color: #353535;
  transform: scale(1.1, 1.25);
}
.restaurants__card__heart i:hover {
  background: linear-gradient(to top right, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  /* if incompatible browser */
  color: #9356DC;
}
.restaurants__card__heart input {
  all: unset;
}
.restaurants__card__heart input:checked ~ i {
  background: linear-gradient(to top right, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  /* if incompatible browser */
  color: #9356DC;
}
.restaurants__card--new::after {
  content: "New";
  position: absolute;
  right: 1rem;
  top: 1rem;
  /* MAP/MIXIN typography */
  font-weight: 700;
  font-size: 0.8rem;
  text-align: center;
  width: 4rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.4rem;
  border-radius: 0.2rem;
  color: #2c9c81;
  background-color: #99E2D0;
}/*# sourceMappingURL=home.css.map */