
/* Colors */

$primary-color: #9356DC; /* purple */
$secondary-color: #FF79DA; /* pink */
$tertiary-color: #99E2D0; /* light green */

$light-bg-color: #f6f6f6;
$dark-bg-color: #353535;


/* CONFIG */

html {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Shrikhand', cursive; */

}

h2, h3 {
    font-weight: 900;
}

h2 {
    font-size: 1.4rem;
}

span {
    font-size: 1rem;
    font-weight: 600;
}

p {
    font-weight: 200;
}

/*    box-shadow: darken($light-bg-color, 15%) .2rem .2rem .2rem; */

/* BUTTON MIXIN */
/* FLEX MIXIN */

/* BOX-SHADOW */
/* GRADIENT-BG*/
/* TYPOGRAPHY 
    -Font-size's list
    -Fonts
*/

/* HEART-HOVER MIXIN */
/* BUTTON MIXIN */

/* HOMEPAGE */

.heading {
    padding-top: .5rem;
    text-align: center;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;

    &__logo {
        padding: .6rem;
        width: 50vw;
        max-height: 2rem;
        flex-grow: 5;
    }

    /* -- MENU ONLY -- */
    &__btn-back {
        font-size: 1.2rem;
        color: $dark-bg-color; 
        padding: .2rem 0 .6rem 1rem;
    }
}

.place {
    height: 3rem;
    background-color: darken($light-bg-color, 5%);
    /*    text-align: center; */
    box-shadow: inset darken($light-bg-color, 20%) .2rem .2rem .2rem;
    /* MIXIN FLEX */
    display: flex;
    flex-flow: row nowrap; 
    justify-content: center;
    align-items: center;
    & > * {
        padding: .5rem;
        color: lighten($dark-bg-color, 10%);
    }
}

.explore {
    height: 10rem;
    background-color: $light-bg-color;
    text-align: center;
    /* FLEX MIXIN */
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 1.2rem;
    &__btn {
        /* BTN MIXIN */
        height: 3rem;
        padding: 0rem 1.5rem;
        border: none;
        border-radius: 2rem;
        color:white;
        background: linear-gradient(to bottom right, $secondary-color, $primary-color);
        box-shadow: darken($light-bg-color, 20%) 0rem .2rem .3rem;
        cursor: pointer;
    }
}

.instructions {
    height: 20rem;
    /* FLEX MIXIN */
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    /* align-items: normal;  */
    padding: 1.2rem;
    & > div {
        height: 70%;
        width: 100%;
        margin-left: .6rem;
        /* FLX MIXIN */
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }
    
    &__btn {
        height: 4rem;
        border-radius: 1rem;
        background-color: $light-bg-color;
        box-shadow: darken($light-bg-color, 10%) .1rem .2rem .6rem;
        padding-left: 1rem;
        position: relative;
        /* FLEX MIXIN */
        display: flex; 
        justify-content: start;
        align-items: center;
        & > * {
            padding: .6rem;
        }
        
        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                &::before {
                    content: "#{$i}";
                    font-size: .8rem;
                    width: 1.4rem;
                    height: 1.4rem;
                    background-color: $primary-color;
                    color: white;
                    border-radius: 50%;
                    position: absolute;
                    left: -.6rem;
                    text-align: center;
                    line-height: 1.5rem; /* to center the content*/
                }
            }
        }
        
        &--colored {
            background-color: lighten($primary-color, 30%);
            i {
                color: $primary-color;
            }
        }
    }

}

.restaurants {
    padding: 2rem 1.2rem;
    background-color: $light-bg-color;
    
    & > * {
        margin: 1rem 0;
    }

    &__card {
        border-radius: 1rem;
        height: 12rem;
        overflow: hidden;
        box-shadow: darken($light-bg-color, 20%) 0rem .2rem .3rem;
        color: darken($dark-bg-color, 30%);
        /* FLEX MIXIN */
        display: flex;
        flex-flow: column nowrap;
        justify-content: end;
        position: relative;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &__title {
            background-color: white;
            padding: 1rem;
            height: 4rem;
            /* FLEX MIXIN */
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;

            i {
                padding: .4rem;
                /* HEART MIXIN */
                font-weight: 100; 
                font-size: 1.2rem;
                color: $dark-bg-color;
                transform: scale(1.1, 1.25);

                &:hover {
                    background: linear-gradient(to top right, $secondary-color, $primary-color);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-weight: 700;
                    /* if incompatible browser */
                    color: $primary-color;
                }
            }

            &:visited {
                color: $dark-bg-color;
            }
        }

        &--new {
            &::after {
                content: "New";
                position: absolute;
                right: 1rem;
                top: 1rem;
                /* MAP/MIXIN typography */
                font-weight: 700;
                font-size: .8rem;
                text-align: center;
                width: 4rem;
                height: fit-content;
                padding: .4rem;
                border-radius: .2rem;
                color: darken($tertiary-color, 35%);
                background-color: $tertiary-color;
            }
        }
    }
}

footer {
    padding: 2rem 1.2rem;
    background-color: $dark-bg-color;
    font-weight: 500;
    font-size: .9rem;

    img {
        filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(111deg) brightness(103%) contrast(102%);
        height: 1rem;
    }

    ul {
        margin: 1rem 0;
        & > * {
            padding: .4rem 0;
        }
        i {
            width: 1rem;
            padding-right: .5rem;
        }
    }

    a, li {
        color: $light-bg-color;
        &:hover {
            color: lighten($primary-color, 30%);
        }
    }
}


/* MENU's PAGE */

.menu-img {
    width: 100%;
    max-height: 30vh;
    object-fit: cover;
    z-index: -1;
    position: relative;
}

.menu-title {
    padding: 2.5rem 1.2rem .5rem;
    margin-top: -2.5rem;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    background-color: $light-bg-color;
    /* -- FLEX MIXIN -- */
    display: flex;
    justify-content: space-between;

    h2 {
        font-size: 2rem;
        font-family: 'Shrikhand';
        font-weight: 500;
    }

    i {
        padding: 0 1rem;
        /* HEART MIXIN */
        font-size: 1.2rem;
        font-weight: 100; 
        color: $dark-bg-color;
        transform: scale(1.1, 1.25);

        /* HEART MIXIN */
        &:hover {
            background: linear-gradient(to top right, $secondary-color, $primary-color);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 700;
            /* if incompatible browser */
            color: $primary-color;
        }
    }

    input {
         all: unset;
        &:checked + i {
            /* HEART-HOVER MIXIN */
            background: linear-gradient(to top right, $secondary-color, $primary-color);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 700;
            /* if incompatible browser */
            color: $primary-color;
        }
    }
}

.menu {
    background-color: $light-bg-color;
    padding: 2rem 1.2rem;


    &__section {
        margin-bottom: 3rem;
    }

    
    &__section-title {
        text-transform: uppercase;
        font-weight: 500;
        color: $dark-bg-color;
        margin: .4rem;
        
        &::after {
            content: "";
            display: block;
            width: 3rem;
            height: .2rem;
            margin: .4rem;
            background-color: $tertiary-color;
            margin-bottom: -.6rem;
        }
    }
    
    &__item {
        background-color: white;
        border-radius: 1rem;
        box-shadow: darken($light-bg-color, 10%) .1rem .2rem .6rem;
        margin: .5rem 0;
        height: 4rem;
        overflow: hidden; 
        display: flex;
        justify-content: space-between;
        cursor: pointer; 

        &__description {
        /*    box-sizing : border-box; */
            width: calc(100% - 3rem);
            padding: .8rem;
        /*    flex-shrink: 5; */
            overflow: hidden;
            min-width: 0;


            p, h3 {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding: .2rem;
            }

            p { 
                font-size: .9rem;
                font-weight: 500;
                color: $dark-bg-color;
            }
            
        }
        
        &__price {
            color: $dark-bg-color;
            width: 3rem;
            padding: .8rem;
            display: flex;
            justify-content: center;
            align-items: flex-end;

        }
        
        &__check {
            width: 0;
            background-color: $tertiary-color;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateX(2rem);
            i {
                font-size: 1.4rem;
                transform: rotate(-360deg);
            }

            &, i {
                transition: all ease-in-out .5s;
            } 
                
        }

        &:hover {
            .menu__item__check {
                /* MIXIN CHECKED */
                width: 5rem;
                transform: translateX(0);
                i {
                    transform: rotate(0deg) ;
                }
            }
        }

        input {
            all: unset;
            &:checked ~ .menu__item__check {
                /* MIXIN CHECKED */
                background-color: darken($tertiary-color, 15%);
                width: 5rem;
                transform: translateX(0);
                i {
                    transform: rotate(0deg) ;
                }
            }
        }
    }

    &__btn {
        display: block;
        width: 10rem;
        margin: 1rem auto;
        /* BTN MIXIN */
        height: 3rem;
        padding: 0rem 1.5rem;
        border: none;
        border-radius: 2rem;
        color:white;
        background: linear-gradient(to bottom right, $secondary-color, $primary-color);
        box-shadow: darken($light-bg-color, 20%) 0rem .2rem .3rem;
        cursor: pointer;
    }
}