@use '../base/config' as *;
@use '../util' as *;
@use '../layout' as *;


/* Landing Animation */

.landing {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top right, lighten($secondary-color, 20%), lighten($primary-color, 25%));
    position: fixed;
    z-index: 4;
/*    transform-origin: center top; */
    animation: fading-hide .5s ease-in-out 3s 1 reverse both;
    @include flex(column, center, center);
/*    animation: name duration timing-function delay iteration-count direction fill-mode; */

    & > div {
        position: relative;
        width: 120px;
        height: 120px;
    }

    i {
        z-index: 6; 
        position: absolute;
    /*    color: lighten($primary-color, 15%); /* purple */
        color: darken($light-bg-color, 5%); /* gray */
        font-size: 3rem;
        transform: translate(36px, 38px);
        text-shadow: lighten($dark-bg-color, 50%) 3px 3px 2px;
    }

    &__loader {
        height: 100px;
        width: 100px;
        background-color: white;
        border: 10px solid $light-bg-color;
        border-radius: 50%;
        border-top-color: $tertiary-color;
    /*    box-shadow: darken($light-bg-color, 20%) 0rem .2rem .3rem; */
        box-shadow: inset darken($light-bg-color, 10%) 0.2rem 0.3rem 1rem, lighten($dark-bg-color, 40%) 0rem 0rem 0.6rem;
        position: absolute;
        animation: rotating 1s 3 cubic-bezier(.24,.11,.68,.83);
    /*    -webkit-animation: rotating 1s infinite cubic-bezier(0.63,-0.32, 0.74, 0.05);  */
    }
}


/* Body */

.place {
    height: 3rem;
    background-color: darken($light-bg-color, 5%);
    box-shadow: inset darken($light-bg-color, 20%) .2rem .2rem .2rem;
    @include flex(row, center, center);

    & > * {
        padding: .5rem;
        color: lighten($dark-bg-color, 10%);
    }
}

.explore {
    height: 10rem;
    text-align: center;
    background-color: $light-bg-color;
    padding: 4rem 1.2rem;
    @include flex(column, space-between, center);

    p {
        font-size: 1rem;
        color: lighten($dark-bg-color, 30%);
    }
    
    &__btn {
        @include btn-std;
    }
}

.instructions {
    height: 20rem;
    padding: 1.2rem;
    @include flex(column, space-around);

    & > div {
        height: 70%;
        width: 100%;
        margin-left: .6rem;
        @include flex(column, space-between);
    }
    
    &__btn {
        height: 4rem;
        border-radius: 1rem;
        background-color: $light-bg-color;
        box-shadow: darken($light-bg-color, 10%) .1rem .2rem .6rem;
        padding-left: 1rem;
        position: relative;
        @include flex($align: center);

        & > * {
            padding: .6rem;
        }
        
        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                &::before {
                    content: "#{$i}";
                    font-size: .8rem;
                    width: 1.4rem;
                    height: 1.4rem;
                    background-color: $primary-color;
                    color: white;
                    border-radius: 50%;
                    position: absolute;
                    left: -.6rem;
                    text-align: center;
                    line-height: 1.5rem; /* to center the content*/
                }
            }
        }
        
        &--colored {
            background-color: lighten($primary-color, 30%);
            i {
                color: $primary-color;
            }
        }
    }

}

.restaurants {
    padding: 2rem 1.2rem;
    background-color: $light-bg-color;
    
    & > * {
        margin: 1rem 0;
    }

    &__card {
        border-radius: 1rem;
    /*    min-height: 12rem; */
        overflow: hidden;
        box-shadow: darken($light-bg-color, 20%) 0rem .2rem .3rem;
        color: darken($dark-bg-color, 30%);
        position: relative;

        a {
            @include flex(column, flex-end);

            img {
                width: 100%;
                height: 8rem;
                object-fit: cover;
            }

            h3 {
                font-size: 1.05rem;
                margin-bottom: .2rem;
            }

            &:visited {
                color: darken($dark-bg-color, 30%);
            }
        }

        &__title {
            box-sizing: border-box;
            background-color: white;
            padding: 1rem 3rem 1rem 1rem;
            width: 100%;
        /*    min-height: 4rem; */
        }

        &__heart {
            position: absolute;
            right: 1rem;
            bottom: calc((100% - 8rem) / 3); /* 8rem -> card img height */
        
            i {
            /*    margin: 1rem;  */
                cursor: pointer;
                @include heart--outline;

                &:hover {
                    @include heart--fill;
                }
            }

            @include input-check(i) {
                @include heart--fill;
            }
        }

        &--new {
            &::after {
                content: "New";
                position: absolute;
                right: 1rem;
                top: 1rem;
                /* MAP/MIXIN typography */
                font-weight: 700;
                font-size: .8rem;
                text-align: center;
                width: 4rem;
                height: fit-content;
                padding: .4rem;
                border-radius: .2rem;
                color: darken($tertiary-color, 35%);
                background-color: $tertiary-color;
            }
        }
    }
}