@use '../util' as *;

.heading {
    padding-top: .5rem;
    width: 100%;
    height: fit-content;
    @include flex($align: center);

    &__logo {
        flex-grow: 2;
        text-align: center;
        
        img {
            padding: .6rem;
            width: 50vw;
            max-height: 2rem;
        }

    }

    /* -- MENU PAGE -- */
    
    &__btn-back {
        font-size: 1.2rem;
        color: $dark-bg-color; 
        padding: .2rem 0 .6rem 1rem;
    }
}