@use '../util/variables' as *;


html {
    font-family: 'Roboto', sans-serif;
}

h2, h3 {
    font-weight: 900;
}

h2 {
    font-size: 1.4rem;
}

span {
    font-size: 1rem;
    font-weight: 600;
}

p {
    font-size: 1rem;
    font-weight: 400;
    color: lighten($dark-bg-color, 10%);
}

strong {
    font-weight: 700;
}

small {
    font-size: .9rem;
    font-weight: 500;
    color: lighten($dark-bg-color, 10%);
}

/* Ajusts */
body {
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0 0 10px lightgrey;
    background-color: #F9F9F9;
}
header {
    background-color: white;
}
